*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 2em;
    background-color: $color-white;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}

table {
    border-collapse: collapse;
}

.hide {
    display: none !important;
}

.title {
    font-size: 3em;
    text-align: center;
}

#app-wrapper {
    position: relative;
}
