#board {
    margin: 0 auto;
    border-radius: 4px;

    .board-section {
        padding: 0;
        border-radius: 4px;
    }

    .board-section-inner {
        border-collapse: separate;
        border-spacing: $border-spacing;
    }

    .cell {
        width: $size-cell;
        height: $size-cell;
        background-color: $color-blue-light;
        border-radius: 2px;
        color: $color-blue-dark;
        text-align: center;
        @include transition(background-color, 0.25s);

        &:hover {
            background-color: $color-blue;
            cursor: pointer;
        }

        &.starting-cell {
            background-color: $color-blue-dark;
            color: $color-white;

            &:hover {
                cursor: auto;
            }
        }
    }
}

@media screen and (max-width: $size-table) {
    #board {
        .board-section-inner {
            border-spacing: $border-spacing-mobile;
        }

        .cell {
            width: $size-cell-mobile;
            height: $size-cell-mobile;
        }
    }
}

@media screen and (max-width: $size-table-mobile) {
    #board {
        .board-section-inner {
            border-spacing: $border-spacing-small;
        }

        .cell {
            width: $size-cell-small;
            height: $size-cell-small;
        }
    }
}
