#number-grid {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: $tableSize;
    max-height: $tableSize;
    margin-left: $tableSize / -2;
    background-color: $color-blue;
}

#board {
    max-width: $tableSize;
    max-height: $tableSize;
    margin: 0 auto;
    background-color: $color-blue-dark;
    border-radius: 4px;
}

.board-section {
    width: $sectionSize;
    height: $sectionSize;
    padding: 0;
    background-color: $color-blue;
    border-radius: 4px;
}

.section-inner {
    
}

.cell {
    background-color: $color-blue-light;
    border-radius: 2px;
    color: $color-blue-dark;
    text-align: center;

    &:hover {
        background-color: $color-white;
        cursor: pointer;
    }
}
