<td class="board-section">

    <table class="board-section-inner">

        <tr class="row-{{rows.0}}">
            <td class="cell">{{cells.0}}</td>
            <td class="cell">{{cells.1}}</td>
            <td class="cell">{{cells.2}}</td>
        </tr>

        <tr class="row-{{rows.1}}">
            <td class="cell">{{cells.3}}</td>
            <td class="cell">{{cells.4}}</td>
            <td class="cell">{{cells.5}}</td>
        </tr>

        <tr class="row-{{rows.2}}">
            <td class="cell">{{cells.6}}</td>
            <td class="cell">{{cells.7}}</td>
            <td class="cell">{{cells.8}}</td>
        </tr>

    </table>

</td>
