<tr>
    <td class="number-cell">1</td>
    <td class="number-cell">2</td>
    <td class="number-cell">3</td>
</tr>
<tr>
    <td class="number-cell">4</td>
    <td class="number-cell">5</td>
    <td class="number-cell">6</td>
</tr>
<tr>
    <td class="number-cell">7</td>
    <td class="number-cell">8</td>
    <td class="number-cell">9</td>
</tr>
